<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.builtclean.android.games.gopher" android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:name="com.builtclean.android.games.gopher.GopherGameActivity"
			android:description="@string/app_description" android:icon="@drawable/icon"
			android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>

		<provider android:name="com.greystripe.android.sdk.AdContentProvider"
			android:authorities="com.builtclean.android.livewallpapers.gopher.AdContentProvider"
			android:multiprocess="true" android:exported="false" />
		<activity android:name="com.greystripe.android.sdk.AdView"
			android:configChanges="keyboard|keyboardHidden|orientation">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>

</manifest> 